body { background:#FFF; }
h3 { font-size:1.8em; }
blockquote {
    padding:5px 0;
}
p code { padding:2px; background:#F8F8F8; border:1px solid #DDD; border-radius:2px; }

/* for weekly-report */
li { font-size:16px; color:#333; }
li p { color:#777; font-size:14px; }
li p:first-child { margin:8px 0; color:#333; font-size:16px; }

